### List comprehension independent practice

Each problem should be completed with a single list (or dictionary) comprehension!

In [20]:
import pandas as pd
import numpy as np
import string

#### Easy problems

##### 1. convert each string from lowercase to uppercase

[Hint: python strings can be turned to uppercase by appending: .upper(), e.g 'hello'.upper()]

In [1]:
strings = ['black','Yellow','ReD','GreeN','BLUe']

In [2]:
upper_string = [x.upper() for x in strings]

In [3]:
upper_string

['BLACK', 'YELLOW', 'RED', 'GREEN', 'BLUE']

##### 2. take the numbers in the list and keep only the even numbers

[Hint: the modulo operator **%** can be used to calculate the remainder, e.g. 5 % 2 == 1]

In [4]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [6]:
even = [x for x in numbers if x % 2 == 0]
even

[2, 4, 6, 8, 10]

##### 3. convert to 'v' if a character is a vowel and 'c' if a consonant, otherwise convert to '?'

In [9]:
import string
characters = ['a','f',None,'k','l','1',12,'e','e',-1,'i','b','p']
alphabet = list(string.ascii_lowercase)
vowels = ['a','e','i','o','u']

In [13]:
convert = ['v' if x in vowels else 'c' if x in alphabet else '?' for x in characters ]
convert

['v', 'c', '?', 'c', 'c', '?', '?', 'v', 'v', '?', 'v', 'c', 'c']

#### Medium problems

##### 4. calculate the means of the numbers in each list that lie between 0 and 100 (inclusive)

In [14]:
number_sets = [[1,50,-40,20,90], [1004,1002,101,-90,40,34], [-1,-2,34,55,77,109]]

In [21]:
mean_set = [np.mean([i for i in x if i >= 0 and i <= 100]) for x in number_sets]
mean_set

[40.25, 37.0, 55.333333333333336]

##### 5. for each string in each list, if the index of the strings is even, join them like: 'item1 item2'. Otherwise join them like: 'item2 item1'.

In [22]:
strings1 = ['alpha','bravo','charlie','delta']
strings2 = ['echo','foxtrot','golf','hotel']

In [23]:
comb_string = [x+' '+y if strings1.index(x) % 2 == 0 else y+' '+x for (x,y) in zip(strings1, strings2)]
comb_string

['alpha echo', 'foxtrot bravo', 'charlie golf', 'hotel delta']

##### 6. create a pandas dataframe from the columns and associated values where each column is the first five multiples of the values:

In [24]:
columns = ['five','seven','twelve']
values = [5, 7, 12]
multiples = [1, 2, 3, 4, 5]

In [31]:
data=[[x*y for x in multiples] for y in values]
data

[[5, 10, 15, 20, 25], [7, 14, 21, 28, 35], [12, 24, 36, 48, 60]]

In [36]:
df = pd.DataFrame(data=data, columns=multiples, index=columns).T

In [37]:
df

   five  seven  twelve
1     5      7      12
2    10     14      24
3    15     21      36
4    20     28      48
5    25     35      60

#### Hard problems

##### 7. manually calculate the median of the first n numbers (from list "N") in list "X"

In [38]:
N = [12, 5, 6, 8, 10]
X = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [42]:
N.sort()
print N
print len(N)
print N[len(N)/2]

[5, 6, 8, 10, 12]
5
8

In [43]:
X.sort()
print X
print len(X)
print X[len(X)/2]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
15
8

##### 8. combine into a flat list: 

1. iterate the elements of one list 
2. iteratively multiply by them by the elements in the second list
3. then iteratively subtract the elements in a third list

e.g:

    a = [1,2]
    b = [0,1]
    c = [1,2]
    output = [0,0,0,-1,0,0,1,0]

In [44]:
a = [9,7,5]
b = [10,5,1]
c = [1,2,3]

In [48]:
a = [1,2]
b = [0,1]
c = [1,2]

In [60]:
output = [(x*y)-z for y in b for x in a for z in c]
output

[-1, -2, -1, -2, 0, -1, 1, 0]