# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Flash lesson: lambda functions
Week 3 | Lesson 4.1

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Write and apply one-line **lambda functions**

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Lambda

Lambda is a tool for building functions. We already know how to build functions
using def, but let's do a quick comparison of the two.

Here's building a function using def:
```Python
def square_root(x): return x ** .5
```

Here's building the same function using lambda
```Python
square_root_lambda = lambda x: x ** .5
```

In [39]:
def square_root(x): 
    return x** .5

square_root_lambda = lambda x: x ** .5

In [40]:
square_root(2)

1.4142135623730951

In [41]:
square_root_lambda(2)

1.4142135623730951

### Quck check
Write a normal function to calculate the area of a rectangle.

Then, re-write that function as a lambda function.

In [42]:
#Function here
def area(x, y):
    return x * y
    
    
#Lambda function here:
area_lambda = lambda x,y: x*y

# Test them out!
print area(4,5), area_lambda(4,5)

20 20

### Lambdas are 'anonymous functions'
Lambda functions are useful when you have an operation that your code only calls once.

Some things to remember about lambda:
- it does not contain a return statement
- it is not a named function
- it is a tool for creating anonymous procedures
- it only takes a single expression (so, no loops or if statements)

More information on [Lambda](https://pythonconquerstheuniverse.wordpress.com/2011/08/29/lambda_tutorial/).

For example, in this code:
```Python
def _range(x):
    return np.max(x) - np.min(x)
    
df.pivot_table(index='A', aggfunc = (np.mean, _range))
```


You can replace the `_range` function with a lambda:

```Python
df.pivot_table(index='A', aggfunc = (np.mean, lambda x: np.max(x) - np.min(x)))
```

In [43]:
df = pd.DataFrame(np.random.randint(0,100,size=(8, 4)), columns=list('ABCD'))
df2 = pd.DataFrame([x for x in range(0,2)]*4, columns=['Group'])
df = pd.concat([df, df2], axis = 1)
df

    A   B   C   D  Group
0  43  30  88   2      0
1   0  19  64  96      1
2   2  85  35  90      0
3  12  12  81  20      1
4   5  80  89  68      0
5  64  62  60  28      1
6  88  99  62  68      0
7  86  11  60  68      1

In [44]:
df = df.applymap(lambda x: x*2)
df.head()

    A    B    C    D  Group
0  86   60  176    4      0
1   0   38  128  192      2
2   4  170   70  180      0
3  24   24  162   40      2
4  10  160  178  136      0

In [45]:
def _range(x):
    return np.max(x) - np.min(x)

df.pivot_table(index = 'Group', aggfunc = (np.mean, _range))

         A           B             C           D
      mean _range mean _range   mean _range mean _range
Group
0       69    172  147    138  137.0    108  114    176
2       81    172   52    102  132.5     42  106    152

In [46]:
df.pivot_table(index='Group', aggfunc = (np.mean, lambda x: np.max(x) - np.min(x)))

         A             B               C             D
      mean <lambda> mean <lambda>   mean <lambda> mean <lambda>
Group
0       69      172  147      138  137.0      108  114      176
2       81      172   52      102  132.5       42  106      152

### Independent practice
Practice writing a few lambda functions and applying them to this dataframe

In [47]:
# Problem 1: apply a lambda function that gives the square root of every element
df.applymap(lambda x: x**0.5)

           A          B          C          D     Group
0   9.273618   7.745967  13.266499   2.000000  0.000000
1   0.000000   6.164414  11.313708  13.856406  1.414214
2   2.000000  13.038405   8.366600  13.416408  0.000000
3   4.898979   4.898979  12.727922   6.324555  1.414214
4   3.162278  12.649111  13.341664  11.661904  0.000000
5  11.313708  11.135529  10.954451   7.483315  1.414214
6  13.266499  14.071247  11.135529  11.661904  0.000000
7  13.114877   4.690416  10.954451  11.661904  1.414214

In [51]:
# Problem 2: apply a lambda function that returns 'skewed' for each column if the difference between
# its mean and median is more than 10% of its standard deviation, otherwise return 'normalish'
df.apply(lambda x: 'skewed' if abs(np.mean(x)-np.median(x))>(0.1 *np.std(x)) else 'normalish')

A           skewed
B           skewed
C           skewed
D           skewed
Group    normalish
dtype: object

In [49]:
# Problem 3: create a pivot table, indexed on 'Group', with a lambda aggfunc that returns 
# the number of group elements greater than 100
df.pivot_table(index='Group', aggfunc=(lambda x: len([i for i in x if i > 100])))

       A  B  C  D
Group
0      1  3  3  3
2      2  1  4  2